*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
}
.wrap{
	height: 100%;
}
/*音乐按钮样式*/
.music_btn{
	width: 40px;
	height: 40px;
	background:url(../images/music.png) center center no-repeat;
	background-size:40px 40px;
	position: fixed;
	top:15px;
	right:15px;
	z-index: 99;
}
.main{
	width: 100%;
	height:100%;
	position: relative;
	overflow: hidden;
}
.page{
	width: 100%;
	height: 100%;
	/*border: 1px solid red;*/
	position:absolute;
}
/*第一页样式*/
.page1 img{
	width: 100%;
	margin-top: 2rem;
}
.page1 h1{
	font-size: 1rem;
	text-align: center;
	position: relative;
	top: -8.5rem;
}
/*第二页样式*/
.page2 .img-1{
	width:3rem;
	z-index: -1;
	position: absolute;
	left: 1rem;
}
.page2 .img-2{
	width:3rem;
	z-index: -1;
	position: absolute;
	right: 1rem;
	top: 0.01rem;
}
.page2 h2{
	font-size: 0.8rem;
	text-align: center;
	position: relative;
	top: 0.2rem;
	
}
.page2 .font{
	margin-top:2.5rem;
	margin-left: 1.5rem;
}
.page2 p{
	font-size:0.5rem;
	/*margin-top: 0.2rem;*/
}
.page2 .img-3{
	width: 3rem;
	/*height: 3.5rem;*/
	position: absolute;
	right: 2rem;
	top: 4rem;
}
.page2 .p-1{
	width: 1rem;
	font-size: 1rem;
	margin-left: 1.5rem;
	margin-top: 2.2rem;
}
.bottom-1 .img-4{
	width: 5rem;
	position: absolute;
	right: 1.4rem;
	top: 10rem;
}
.bottom-1 .p-2{
	width: 2.8rem;
	font-size:0.5rem;
	position:absolute;
	right:2.4rem;
	top:11.5rem;
}
/*第三页样式*/
.page3 img{
	width: 8rem;
}
.page3 .pp{
	font-size: 0.5rem;
	text-align: center;
	margin-top: 1rem;
}
.page3 h3{
	margin-left: 4.4rem;
}
.page3 .xx{
	margin: 1.5rem 2.5rem;
}
/*第四页样式*/
.page4 h3{
	margin-top: -3.9rem;
	margin-left:8.5rem;
}
.page4 .img-6{
	width: 8rem;
}
.page4 .s-1,.s-2{
	width: 7.5rem;
	height: 7.5rem;
	margin-left: 3.5rem;
	margin-top: 1rem;
}
/*第五页样式*/
.page5 h3{
	margin-left: 5rem;
	margin-top: 0.5rem;
}
.page5 a{
	position: absolute;
	top: 4rem;
	font-size: 0.7rem;
	margin:0 1rem;
	/*margin-top: 5rem;*/
}
.boys{
	width: 10rem;
	height: 10rem;
	position: absolute;
	top: 3.5rem;
	left:1.2rem;
}
.w-1{
	position: absolute;
	right: 0.3rem;
	top: 0.3rem;
}
/*第六页样式*/
.page6 .img-7{
	width: 9rem;
	margin-left:2.5rem;
}
.page6 .img-8{
	width: 9rem;
	margin-left:2.5rem;
	margin-top: 5rem;
}
.page6 p{
	margin-left:3rem;
}
.page6 h3{
	margin-left: 4.9rem;
}
.page6 hr{
	margin:0.9rem 0 0.9rem 3.5rem;
}
.page6 p{
	margin-top: 0.3rem;
}
/*page页在屏幕下面*/
.pageDown{transform:translateY(100%);} 
/*page页在屏幕上面*/
.pageUp{transform:translateY(-100%);}
/*无限循环*/
.infinite{animation-iteration-count:infinite;}
/*延迟时间*/
.delay-time{animation-delay:1s;}
/*hide*/
.hide{display: none;}