.main .ione ul li{
	width: 190px;
	height: 255px;
	/*border: 1px solid red;*/
	float: left;
	margin-left:5px;
}
.main .ione .lia{
	width: 250px;
	height: 440px;
	/*border: 1px solid red;*/
	/*margin-left: -20px;*/
}
.lia img{
	margin-left: -40px;
}
.lib img{
	margin-left: -10px;
}
.main .ione .lib{
	width: 250px;
	height: 440px;
	/*border: 1px solid red;*/
	float: right;
	/*margin-left:-10px;*/
}
.main .ione{
	width: 1110px;
	height: 505px;
	/*border: 1px solid black;*/
	margin-left: 120px;
	margin-top: 20px;
	cursor: pointer;
}
.main h3{
	border: 2px solid black;
	width: 230px;
	height: 30px;
	text-align: center;
	margin-left: 530px;
	margin-top: 50px;
	margin-bottom:40px;
	line-height:30px;
}
.inoe img{
	/*margin-top: 35px;*/
	display: block;
}
.main .itwo ul li{
	width: 220px;
	height:380px;
	/*border: 1px solid lime;*/
	float: left;
	margin-left: 8px;
	margin-top: 8px;
	/*position: relative;*/
}
.main .itwo ul li img:hover{
	border: 2px solid #C20000;
}
/*.main .itwo ul{
	width: 1154px;
	height: 1700px;
	border: 1px solid black;
}*/
.main .itwo{
	width: 1254px;
	height: 1600px;
	/*border: 1px solid red;*/
	margin-left: 100px;
	margin-top: 20px;
	cursor: pointer;
	overflow: hidden;
	/*position: relative;*/
}
.main .itwo img{
	width: 220px;
	height: 300px;
	/*border: 1px solid black;*/
}
.main .itwo p{
	font-size: 12px;
	/*border: 1px solid red;*/
	text-align: center;
	/*position:relative;*/
	margin-top:5px;
	/*z-index: 1;*/
}
.main .itwo #it a{
	/*display: block;*/
	font-size: 19px;
	width: 180px;
	height:30px;
	/*border: 1px solid black;*/
	position: relative;
	/*left: 10px;*/
	/*z-index: 5;*/
	background: white;
	left:45px;
	top: -105px;
	opacity: 0;
	color:#E00000;
}
#toolbar{
	width:45px;
	/*height: 100%;*/
	background:#666;
	position: fixed;
	right: 0;
	top: 200px;	
	/*opacity:0.6;*/
}
#toolbar a{
	color: white;
}
.bar{
	width: 90px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color:white;
	background:#666;
	position: absolute;
	right: 65px;
	display: none;
	/*opacity: 0;*/
}
#toolbar ul li{ 
	width:43px;
	height: 35px;
	background: url("../images/toolbars.png") no-repeat;
	cursor: pointer;
	/*position: relative;*/
	/*border: 1px solid red;*/
	margin-top: 10px;
}
#toolbar ul .item1{
	background-position: -45px 0;
}
#toolbar ul .item2{
	background-position: -45px -50px;
}
#toolbar ul .item3{
	background-position: -45px -100px;
}
#toolbar ul .item4{
	background-position: -85px -175px;
}
#toolbar ul .item5{
	background-position: -45px -150px;
}
.bar span{
	position: absolute;
	left:45px;
	width: 90px;
	height: 25px;
	text-align: center;
	color:#666; 
}
#toolbar ul .select{
	background-color:#BC2D26;
}